EditorScreen {
    layout: vertical;
    background: $background;
    layers: sidebar screen base;
}

EditorScreen Center {
    height: 1fr;
}

EditorScreen #editor-body {
    height: 1fr;
    width: 1fr;
}

EditorScreen EditorTerminal {
    width: 100%;
    height: 1fr;
}
